*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  background-color: #efefef;
  font-family: 'Open Sans';
  margin: auto;
  width: 100vw;
}

header {
  background-color: #2B2B2B;
  height: 170px;
  width: 100%;
}

/* Contains all the header elements */
#header-container {
  height: 100%;
  margin: auto;
  max-width: 1400px;
}

/* User link at top right of header */
.user {
  height: 50px;
  line-height: 100%;
  padding: 17px 35px 0 0;
  text-align: right;
}

/* Test within user */
.user a {
  color: #2bb5fe;
  text-decoration: none;
}

.user a:visited {
  color: #2bb5fe;
}

/* Links and logo */
nav {
  height: 130px;
  padding-top: 15px;
  width: 100%;
}

/* Links */
ul {
  display: inline-block;
  max-width: 600px;
  padding: 0;
}

li {
  display: inline-block;
  height: 100%;
  line-height: 55px;
  list-style: none;
  /* margin-left: 15px; */
}

/* Does not include icons */
li a {
  color: #888;
  font-size: 20px;
  height: 100%;
  line-height: inherit;
  padding: 5px 25px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* Changes to default Material.io styles */
.material-icons {
  color: #2bb5fe;
  display: inline-flex;
  font-size: 35px;
  line-height: inherit;
  padding-bottom: 5px;
  vertical-align: middle;
}

/* Page currently loaded */
#selected {
  color: white;
}

/* Logo */
h1 {
  display: inline;
  float: right;
  height: 50px;
  margin-right: 35px;
  text-align: right;
}

.logo {
  filter: invert(100%);
  height: inherit;
}

/* Collapsed menu icon, hidden on desktop */
#menu {
  display: none;
}

/* Card UI and page title */
main {
  background-color: #efefef;
  margin: auto;
  max-width: 1400px;
  min-height: 1500px;
  padding: 50px 20px;
}

/* Card UI */
#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/* Page title */
h2 {
  color: #2b2b2b;
  font-size: 40px;
  font-weight: 500;
  line-height: 100%;
  margin: 0 0 40px 0;
}

/* Each individual */
.info-card {
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
  background-color: white;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
  height: 465px;
  margin: 0 15px 15px 0;
  width: 325px;
}

/* Background image */
.splash-art {
  -moz-background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.25)), url(https://static.altchar.com/live/media/images/950x633_ct/2085_steam_logo_0b1356819e777e8e9d94e02e3bd2d8a5.jpg);
  -webkit-background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.25)), url(https://static.altchar.com/live/media/images/950x633_ct/2085_steam_logo_0b1356819e777e8e9d94e02e3bd2d8a5.jpg);
  background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.25)), url(https://static.altchar.com/live/media/images/950x633_ct/2085_steam_logo_0b1356819e777e8e9d94e02e3bd2d8a5.jpg);
  background-size: cover;
  height: 170px;
  padding: 20px 25px;
  width: 100%;
}

/* Demo card */
.first-card {
  -moz-background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.25)), url(http://assets1.ignimgs.com/2018/06/21/hollowknight-1280-1529623462572_1280w.jpg);
  -webkit-background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.25)), url(http://assets1.ignimgs.com/2018/06/21/hollowknight-1280-1529623462572_1280w.jpg);
  background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.25)), url(http://assets1.ignimgs.com/2018/06/21/hollowknight-1280-1529623462572_1280w.jpg);
  background-size: cover;
  height: 170px;
  padding: 20px 25px;
  width: 100%;
}

.splash-art div {
  float: right;
}

.learn-more img {
  height: 70px;
  margin: -5px 0 0 -10px;
}

.rating {
  color: white;
  font-size: 13px;
  margin: 0;
  margin-bottom: 5px;
  text-align: right;
}

.rating-count {
  color: white;
  font-size: 30px;
  margin: 0;
  text-align: right;
}

/* Contains all card content except for image, learn more button, and rating */
.content {
  color: grey;
  font-size: 18px;
  padding: 15px 20px;
}

.title {
  padding-bottom: 6px;
}

.content p {
  margin: 0;
}

.release-date {
  color: darkgrey;
  font-size: 15px;
}

.store-link {
  background-color: #efefef;
  height: 60px;
  margin: 15px 0;
  padding: 10px;
  width: 100%;
  word-wrap: break-word;
}

.store-link a {
  color: grey;
  font-size: 15px;
  text-decoration: none;
}

.store-link a:visited {
  color: grey;
}

.supported-platforms, .price-text {
  font-size: 13px;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.additional-info {
  margin-bottom: 25px;
}

.price-amount {
  color: #2bb5fe;
  font-size: 35px;
}

.sale {
  color: red;
  text-decoration: line-through;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

/* Media Queries */

@media only screen and (max-width: 750px) {

  #menu {
    border: 1px solid #888;
    border-radius: 20%;
    color: #2b2b2b;
    display: inline-flex;
    margin: 20px 0 0 20px;
    padding: 5px 10px 0 10px;
    vertical-align: middle;
  }

  li {
    display: none;
  }

  #container {
    justify-content: space-around;
  }

  .info-card {
    margin: 0 0 15px 0;
  }

}

@media only screen and (max-width: 500px) {


  .user {
    padding-right: 5px;
  }

  .user i:first-child {
    display: none;
  }

  #menu {
    border: 1px solid #888;
    border-radius: 20%;
    color: #2b2b2b;
    display: inline-flex;
    margin: 20px 0 0 20px;
    padding: 5px 10px 0 10px;
    vertical-align: middle;
  }

  .logo {
    height: 50px;
  }

  ul {
    margin-top: 35px;
    padding: 0 0 0 20px;
  }

  li {
    display: none;
    margin: 0;
  }

  h1 {
    margin: 30px 15px 0 0;
  }

}
